<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mysite.sbbmybatis.user.UserMapper">
	<insert id="addUser">
    	INSERT INTO users (username, psw) VALUES (#{username}, #{psw})
    </insert>
    <select id="getUserByUsername" resultType="com.mysite.sbbmybatis.user.User">
        SELECT id, username, psw, created_at, updated_at FROM users WHERE username = #{username}
    </select>
    <select id="getUserById" resultType="com.mysite.sbbmybatis.user.User">
        SELECT id, username, psw, created_at, updated_at FROM users WHERE id = #{id}
    </select>
</mapper>